<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hengrunjiankang.health">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!--bugly end-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".applaction.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".activity.RecordActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.RecordDetailsActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".activity.EcgDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.FindpwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.MyAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity
            android:name=".activity.ResetpwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name=".photo.SelectPhotoActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".photo.SelectPhotoFolderActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AddHealthProfileActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.ProfileListActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.ProfileActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AddDrugRecordActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.DoctorDetailsActivity"
                  android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.BespockDoctorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".activity.DoctorListActivity"
                  android:screenOrientation="portrait"></activity>

    </application>

</manifest>